
<h2>{{name}}</h2>{{sDate}}
<br />
<div class="my-flex-container">
    <p-inputSwitch [(ngModel)]="checked" ></p-inputSwitch>
    <calendar></calendar>
    <breadcramber></breadcramber>
</div>

<div class="ui-g" align="center" *ngIf="checked">
    <div class="ui-g-2 ui-md-2 ui-lg-2">
        <folder (myEvent)="doc.onGetDocs($event)"></folder>
    </div>
    <div class="ui-g-4 ui-md-4 ui-lg-4">
        <document #doc></document>
    </div>
    <div class="ui-g-6 ui-md-6 ui-lg-6">
        <journal></journal>
    </div>
</div>

<div class="ui-g" align="center" *ngIf="!checked">
    <div class="ui-g-2 ui-md-2 ui-lg-2">
        <folder (myEvent)="doc.onGetDocs($event)"></folder>
    </div>
    <div class="ui-g-10 ui-md-10 ui-lg-10">
        <document #doc></document>
    </div>
</div>

<div>
    <entity></entity>    
</div>
<!--<button type="button" (click)="addValue()">AddValue</button>
{{error}}-->
