bcramb {
    padding-left: 20px;
    display: inline-flex;
}
li {
    display: inline-flex;
    color: #45AEEC;
    list-style: none;
    text-indent: -1em;
    padding-left: 20px; 
    cursor: pointer;
    position: relative;
}
li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}